<div class="container">
  <div class="row pt-3">
    <div class="col">
      <h1 style="margin-top: 8rem;" class="text-center">Listado General Cursos</h1>
    </div>


<form class="row m-4" role="search" method="get" action="/cursos/listado/">
<input class="col form-control ms-3" type="search" placeholder="id..." aria-label="Search"
id="id:materia" name="id_materia"> <button style="height: 3rem"; class="col btn btn-primary" 
type="submit">Buscar</button>
<div class="col-4"></div>
<a style="height: 3rem;" href="/cursos/alta/" class="col-3 btn btn-success me-3" >Agregar Curso</a>
</form>

 
  </div>

  <div class="row">
    <div class="col">

      <table class="table table-hover table-striped table-bordered table-light">
        <thead>

          <tr class="text-center">
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Público</th>
            <th>Modalidad</th>
            <th>Imágen</th>
            <th>Duración</th>
            <th></th>
            <th></th> 

          </tr>

        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <td>{{id_materia}}</td>
              <td>{{nombre}}</td>
              <td>{{descripcion}}</td>
              <td>{{destinado_a}}</td>
              <td>{{modalidad}}</td>
              <td style="width: 20%; "><img
                  src="{{imagen}}"
                  alt="Imagen del curso"
                  style="height: 20%"
                /></td>
              <td>{{duracion}}</td>
              <td><a
                  href="/cursos/modificar/
                  {{id_materia}}"
                  class="btn btn-primary"
                >Editar</a></td>
              <td><a
                  href="/cursos/eliminar/{{id_materia}}"
                  class="btn btn-danger"
                >Eliminar</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
</div>
  </div>
  
    <script src="/javascripts/darkmode.js"></script>
    <script>
      document .getElementById("menu-toggle") .addEventListener("click",
      function () { document.querySelector("nav").classList.toggle("show");
      this.classList.toggle("show"); });
    </script>

